@font-face {
    font-family: 'ArcaneFont';
    src: url(Arcane\ Nine.otf);
}

h1
{
    font-family: 'ArcaneFont';
}
h2
{
    font-family: 'Lucida Handwriting';
}
section.a
{   
    border: 5px outset rgba(0, 0, 0, 0.592);
    background-color: rgba(222, 224, 161, 0.771);
}
section.b
{   
    border: 5px outset rgba(0, 0, 0, 0.096);
    background-color: rgba(255, 255, 254, 0.771);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }